@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Patient

<h2>Add a Doctor:</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model=> model.PatientId)

  @Html.Label("Select Doctor")
  @Html.DropDownList("DoctorId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Patients", "Index")</p>
<p>@Html.ActionLink("Add a Doctor", "AddDoctor", new {id = Model.PatientId})</p>